body {
    margin: 0px;
    padding: 0px;
}

.loading {
    background: linear-gradient(-45deg, #eee, #fff, #ccc, #eee) !important;
	background-size: 400% 400% !important;
    animation: loadingBg 2s ease infinite !important;
    & > * {
        pointer-events: none;
        opacity: .5;
    }
}

@keyframes loadingBg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}